.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.container.side-by-side {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.container.solid {
    backdrop-filter: blur(8px) brightness(0.75);
    padding: 1em;
    box-sizing: border-box;
}

.display-container {
    padding: 0.5em;
    background: #0004;
    box-sizing: border-box;
}