@import url(/globals.css);

#content {
    justify-content: unset;
}


.portfolio-container {
    text-align: center;
}
.display-container h1 {
    text-align: center;
}

.portfolio-image {
    width: max-content;

    display: inline-flex;
    flex-direction: column;
    gap: 0.25em;

    margin: 0.5em;
    padding: 0.5em 1em;
    box-sizing: border-box;
}
.portfolio-image .image {
    height: 300px;
    width: fit-content;
    align-self: center
}

.portfolio-image .commissioner {
    opacity: 0.5;
}
.portfolio-image:hover .commissioner {
    opacity: 1;
}
.portfolio-image .commissioner::before {
    content: "Commissioned by ";
}