@import url(/globals.css);

#content {
    justify-content: unset;
}


.portfolio-container {
    text-align: center;
    box-sizing: border-box;
}
.display-container h1 {
    text-align: center;
}

.portfolio-image {
    width: max-content;

    display: inline-flex;
    flex-direction: column;
    gap: 0.25em;

    margin: 0.5em;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

.portfolio-image .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.portfolio-image .top-bar *:first-child::after {
    content: "\2014";
    margin: 0px 1ch;
}
.portfolio-image .image {
    height: 300px;
    width: fit-content;
    align-self: center;
}

.portfolio-image .commissioner {
    opacity: 0.5;
}
.portfolio-image:hover .commissioner {
    opacity: 1;
}
.portfolio-image .commissioner::before {
    content: "Commissioned by ";
}


@media only screen and (max-width: 600px) {
    .display-container {
        width: 100%;
    }
    .portfolio-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        gap: 2em;
    }
    .portfolio-image {
        width: 100%;
        margin: 0;
    }
    .portfolio-image .image {
        height: unset;
        width: 100%;
    }
    .portfolio-image .top-bar {
        flex-direction: column;
    }
    .portfolio-image .top-bar *:first-child::after {
        display: none;
    }
}